<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269245752502-e4sf96288k352hjv870l2v6ooeoudsss.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269245752502-e4sf96288k352hjv870l2v6ooeoudsss</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>269245752502-0tlb0rh361geqb467aip6u1tmf086o0a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDOG1aDUgBhdCzw2xWlrxh1pVooi6l15eI</string>
	<key>GCM_SENDER_ID</key>
	<string>269245752502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.entprojecttracker</string>
	<key>PROJECT_ID</key>
	<string>groupworkout-ce8ee</string>
	<key>STORAGE_BUCKET</key>
	<string>groupworkout-ce8ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269245752502:ios:f7e7808f45b9f0ab05f217</string>
</dict>
</plist>